doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title Noom
    body 
        header
            h1 Noom 
        main 
            ul#roomList
            h2#roomName
            form#nickForm 
                input(type="text", placeholder="nickname")
                input(type="submit", value="save")
            form#roomForm
                input(type="text", placeholder="room name")
                input(type="submit" value="entrance")
            div#chatPlace
                ul#chatList 
                form#msgForm
                    input(type="text", placeholder="message")
                    input(type="submit", value="send")
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js") 